<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>trongns.filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>trongns.listener.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>trongns.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>trongns.servlet.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyAccountServlet</servlet-name>
        <servlet-class>trongns.servlet.VerifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeServlet</servlet-name>
        <servlet-class>trongns.servlet.LoadHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailServlet</servlet-name>
        <servlet-class>trongns.servlet.ViewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>trongns.servlet.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>trongns.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>trongns.servlet.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDateServlet</servlet-name>
        <servlet-class>trongns.servlet.ChangeDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>trongns.servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCartServlet</servlet-name>
        <servlet-class>trongns.servlet.ClearCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>trongns.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyDiscountServlet</servlet-name>
        <servlet-class>trongns.servlet.ApplyDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>trongns.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <servlet-class>trongns.servlet.ViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>trongns.servlet.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>trongns.servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>trongns.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <servlet-class>trongns.servlet.SendFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyAccountServlet</servlet-name>
        <url-pattern>/VerifyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeServlet</servlet-name>
        <url-pattern>/LoadHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailServlet</servlet-name>
        <url-pattern>/ViewDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDateServlet</servlet-name>
        <url-pattern>/ChangeDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCartServlet</servlet-name>
        <url-pattern>/ClearCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyDiscountServlet</servlet-name>
        <url-pattern>/ApplyDiscountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <url-pattern>/SendFeedbackServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <resource-ref>
        <res-ref-name>CarRental</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
</web-app>
